body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight:  normal;
}
h1 {
    font-size:  40px;       /*tamaño de la furnte */
    line-height: 1.5;       /*espacio entre lineas */
    letter-spacing: -.2px;  /* espacio entre letras*/
    color: white;
    margin: 0; /*4: esto funciona como reloj, 2: arriba y abajo, derecha y iz*/
    /* text-transform: uppercase; poner todo en mayusculas */
    /* text-decoration: underline; */
}
h1 strong {
    color: #026fff;
}
h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.hero {
    height:  300px;
    /* background-image: url('../images/hero.jpg'); */
    background-color: #1b2127;
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-image {
    object-fit: cover;
}
.portfolio {
    background: #fafafa;
    padding: 20px;
}
.project {
    /* border-bottom: 10px solid rebeccapurple; */
    /* border: 1px solid gray; */
    border-radius:  10px;
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.10);
}
.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}
.project-description {
    font-size: 20px;
}
.project strong {
    font-family: 'Fjalla One', sans-serif;
}
.project_title {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.project-details {
    width: 500px;
}
.project-imgContainer {
    width: 500px;
}
.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.menu {
    height: inherit;
}
.header ol {
    display: flex;
    height: inherit;
}
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
figure {
    margin: 0;
}
.header ol li {
    height: inherit;
}
.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.footer {
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer img {
    vertical-align: middle;
}
.footer a {
    color: white;
}
.event-list {
    display: flex;
    flex-wrap: wrap;
}
.event-list-title{
    margin-left: 20px;
}
.event {
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.10);
}
.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}
.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}
.event-description{
    text-align: left;
}
.event-url{
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.contact{
    background-color: #056fff;
    color: white;
    height: 150;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}
.social-link.twitter{
    background-image: url('../images/twitter.svg');
}
.social-link.facebook{
    background-image: url('../images/facebook.svg');
}
.social-link.github{
    background-image: url('../images/github.svg');
}
.social-link.instagram{
    background-image: url('../images/instagram.svg');
}
.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url(../images/envelope.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}
.form-email button {
    display: block;
    background-color: transparent;
    color: white;
    padding: 5px 24px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
  }
.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}
.container {
    width: 1000px;
    margin:  0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}